
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

testFeedManage.py
testDataloader.py
testmodel.py
modelLike.py
modelDislike.py
xtraWork.py

.pytest_cache

/__pycache__

models/__pycache__/

models/carDetection.py
models/nlpEngine.py

adStatus.py

models

requesttest.py