
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

testFeedManage.py
testDataloader.py
testmodel.py
modelLike.py
modelDislike.py

/__pycache__