fastapi==0.105.0
numpy==1.24.3
pandas==2.0.3
pydantic==1.10.8
pymongo==4.6.0
uvicorn==0.24.0.post1
gunicorn==21.2.0
scikit-learn==1.3.0
wheel==0.42.0
scikit-surprise==1.1.3
pillow==8.4.0
requests==2.31.0
tensorflow==2.15.0
pydantic==1.10.8
tensorflow-io-gcs-filesystem==0.31.0

# boto3==1.18.92
# nltk
# joblib
# random
# langdetect
# requests
# Pillow